<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  {% if for_idea %}
    <form action="/edit/{{ idea.id }}" method="post">
      <p>
        Title:<br />
        <input name="edited_title" value="{{ idea.title }}" />
        <br />
        Content:<br />
        <textarea name="edited_content" rows="5" cols="40">{{ idea.title }}</textarea>
      </p>
      <input type="submit" value="Submit!" />
    </form>
    
  {% elif for_message %}
    <form action="/edit_message/{{ thread.id }}/{{ message.id }}" method="post">
      <p>
        Message:<br />
        <textarea name="content" rows="5" cols="40">{{ message.content }}</textarea>
      </p>
      <input type="submit" value="Submit!" />
    </form>
  {% endif %}
    
</body>
</html>
