<!DOCTYPE html>
<html>
<head>
  <title>User home</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  {% if session.username %}

    <div class = "top_bar">
      <a class = "top_bar_link" href="/">Home/Profile</a>
      <a class = "top_bar_link" href="/private_ideas">Private skills page</a>
      <a class = "top_bar_link" href="/threads">Threads</a>
    </div>

    <h1>Hello {{session.username}}!</h1>
    <p>
        <a href="/logout">Log out</a>
    </p>
    <p>Dashboard:</p>
    <ul>
        <li><a href="/threads">Threads</a></li>
        <li><a href="/private_ideas">Your skills page (private)</a></li>
    </ul>
    <hr>
    <h3>Stats on the private ideas:</h3>
    <p class = "title">Total number of skills: {{ total_skills }}</p>
    <div class="content_island">
      <p class = "title" >Stats:</p>
      {% for stat in skill_stats %}
          <p>{{ stat }}</p>
      {% endfor %}
    </div>
    <hr>
    <h4>Profile picture:</h4>
    {% if user and user.has_image %}
      <img src="/image/{{ user.id }}" />
    {% endif %}

    <form action="/add_image" method="post" enctype="multipart/form-data">
      <label for="image_input"> Add/change image: </label><br>
      <input type="file" name="image_input" accept=".jpg" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Submit" />
    </form>
    {% for message in get_flashed_messages(category_filter=["image_exception"]) %}
            <p class = "exception_message">
                {{ message }}
            </p>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter=["image_success"]) %}
            <p class = "success_message">
                {{ message }}
            </p>
    {% endfor %}


  {% else %}
    <form action="/log_in" method="POST">
      <h2>Log in page</h2>
      <label for = "username">Username:</label><br>
      <input type="text" name="username" value = "{{filled.username}}"><br>
      <label>Password:</label><br>
      <input type="password" name="password"><br>

      {% if next_page %}
        <input type="hidden" name="next_page" value="{{next_page}}">
      {% else %}
        <input type="hidden" name="next_page" value="/">
      {% endif %}
      
      {% for message in get_flashed_messages(category_filter=["log_in_exception"]) %}
            <p class = "exception_message">
                {{ message }}
            </p>
      {% endfor %}
      <button class="content_island">Log in</button> <br>
    </form>
      <form action="/sign_up_page" method="GET">
        <button name= "SIGN_UP">Don't have an account? Sign up</button> <br>
      </form>
    </div>

  {% endif %}
</body>

</html>