<!DOCTYPE html>
<html>
<body>
    {% if session.username %}
    <h1>Hello {{session.username}}!</h1>
    <p>
        Here is your skills page. You can add your new skills here,
        and they will be visible only to you. <br>

        <form action="/search_private_ideas" method="GET">
            <label for = "search">Search your skills:</label><br>
            <input type="text" name="keyword" maxlength="100"><br>
            <button>Search</button> <br>
        </form>

        <form action="/add_skill_type" method="POST">
            <p>Add new type of skill (reloads the page):</p>
            <input name = "new_skill" type="text" maxlength="50"><br>
            <button>Add</button> <br>
        </form>

        <form action="/add_private_idea" method="POST">
            <p>Type of skill:</p>
            <select name="type_of_skill">
                <option value="None">None</option>
                {% for skill in user_skill_types %}
                    <option value="{{skill.name}}">{{skill.name}}</option>
                {% endfor %}
            </select><br>
            <label for = "idea">Write your skill here:</label><br>
            <p>Title of a skill:</p>
            <input type="text" name="idea" maxlength="100"><br>
            <p>What have you learned?:</p>
            <textarea rows="4" cols="40" name="content" maxlength="1000"></textarea><br>
            <button>Add a skill</button> <br>
            {% if invalid_content %}
                <p> Content cannot be empty or have more than 1000 characters!</p>
            {% elif invalid_title %}
                <p> Title cannot be empty or have more than 100 characters!</p>
            {% endif %}
        </form>

        Here are your skills: <br>
        {% for idea in ideas %}
            <hr>
            <p>---------</p>
            {% if idea.type_of_skill != "" %}
                <p>Type of skill: {{idea.type_of_skill}}</p>
            {% endif %}
            <p><b>{{idea["title"]}}</b></p>
            <p>{{idea["content"]}}</p>
              <p>
                <a href="/edit/{{ idea.id }}">Edit</a> |
                <a href="/delete/{{ idea.id }}">Delete</a>
            </p>
        {% endfor %}
    </p>
    {% else %}
        <p>You are not logged in! Please log in to see your skills.</p>
    {% endif %}
</body>
</html>

