<!DOCTYPE html>
<html>
<head>
  <title>Sign up page</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    
<p>SIGN UP</p>
<form action="/sign_up" method="POST">
    <label for = "username">Username:</label><br>
    <input type="text" name="username" value = "{{filled.username}}"><br>
    <label for="password1">Password:</label><br>
    <input type="password" name="password1"><br>
    <label for="password2">Password again:</label><br>
    <input type="password" name="password2" /></p>
    {% for message in get_flashed_messages(category_filter=["sign_up_exception"]) %}
            <p class = "exception_message">
                {{ message }}
            </p>
    {% endfor %}
    <button>Sign up</button> <br>
</form>

<form action="/" method="GET">
    <button>Already have an account? Log in</button> <br>
</form>

</body>
</html>