<!DOCTYPE html>
<html>
    
<head>
  <title>Threads</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {% if session.username %}
        <div class = "top_bar">
            <a class = "top_bar_link" href="/">Home/Profile</a>
            <a class = "top_bar_link" href="/private_ideas">Private skills page</a>
            <a class = "top_bar_link" href="/threads">Threads</a>
        </div>
    {% endif %}
        
        <h1> Threads </h1>
    {% if session.username %}
        <form action="/create_thread" method="post"> 
            <h4>Create a new thread:</h4>
            <div class="content_island">
                <label for="title_of_new_thread"> Thread title:</label><br>
                <input type="text" name="title_of_new_thread" maxlength="100"><br>

                <label for= "initial_message"> Write a first message to the thread:</label><br>
                <textarea rows="4" cols="40" name="initial_message" maxlength="500"></textarea><br>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button>Create thread</button>
            </div>
        </form>
    {% else %}
        <p>You are not logged in! Please <a href="/">log in</a> to create a thread.</p>
    {% endif %}
        
        <form action="/search_threads" method="GET">
            <div class="content_island">
                <label for = "search">Search threads:</label><br>
                <input type="text" name="keyword" maxlength="100"><br>
                {% for message in get_flashed_messages(category_filter=["thread_search_exception"]) %}
                    <p class = "exception_message">
                        {{ message }}
                    </p>
                {% endfor %}
                <button>Search</button> <br>
            </div>
        </form>

        {% for thread in threads%}
            <a href="/thread/{{thread.id}}"><b>{{thread.title}}</b></a>
            <p> There are total of {{thread.total}} messages in this thread.</p>
            <hr />
        {% endfor %}
        <p> <a href= "/threads/{{page-1}}">
            &lt &lt</a> Page {{page}}/{{page_count}} 
            <a href= "/threads/{{page+1}}"> &gt &gt</a>
        </p>
</body>
</html>