<!DOCTYPE html>
<html>
<body>
    {% if session.username %}
        <form action="/create_thread" method="post"> 
            <label for="create_thread"> Create thread </label>
            <input type="text" name="title_of_new_thread" maxlength="100">
            <p>Write your message here:</p>
            <textarea rows="4" cols="40" name="initial_message" maxlength="500"></textarea><br>
            <button>Create thread</button>
        </form>

        <form action="/search_threads" method="GET">
            <label for = "search">Search threads:</label><br>
            <input type="text" name="keyword" maxlength="100"><br>
            <button>Search</button> <br>
        </form>

        {% for thread in threads%}
            <a href="/thread/{{thread.id}}"><b>{{thread.title}}</b></a>
            <p> There are total of {{thread.total}} messages in this thread.</p>
            <hr />
        {% endfor %}
        <p></p>
    {% else %}
        <p>You are not logged in! Please log in to see threads.</p>
        <a href="/" >Log in</a>
    {% endif %}
</body>
</html>