<!DOCTYPE html>
<html>
    
<head>
  <title>{{thread.title}}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {% if session.user_id %}
        <div class = "top_bar">
            <a class = "top_bar_link" href="/">Home/Profile</a>
            <a class = "top_bar_link" href="/private_ideas">Private skills page</a>
            <a class = "top_bar_link" href="/threads">Threads</a>
        </div>
    {% endif %}

        <h1> Thread: {{thread.title}}</h1>

    {% if session.username %}
        <p> Add a new message: </p>
        <form action="/new_message" method="post">
            <textarea rows="4" cols="40" name="new_message" maxlength="500"></textarea><br>
            <input type = "hidden" name="thread_id" value="{{thread.id}}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            {% for message in get_flashed_messages(category_filter=["new_message_exception"]) %}
                <p class = "exception_message">
                    {{ message }}
                </p>
            {% endfor %}
            <button>Submit!</button>
        </form>
        <hr />
    {% else %}
        <p>You are not logged in! Please <a href="/">log in</a> to send a message to the thread.</p>

    {% endif %}
    {% for message in messages %}
        <div class="content_island">
            <a href="/user/{{message.user_id}}">{{message.username}}</a>
            <div class="content_island">
                <p>({{ message.sent_at }}):</p>
                <p>
                    {{ message.content | show_lines}}
                </p>
                {% if session.username and message.user_id == session.user_id %}
                    <a href="/edit_message/{{thread.id}}/{{message.id}}">Edit message</a>
                    <a href="/delete_message/{{thread.id}}/{{message.id}}">Delete message</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</body>
</html>
