<!DOCTYPE html>
<html>
<body>
    {% if session.user_id %}
        <h1> {{thread.title}}</h1>
        <p> Add new message: </p>
        <form action="/new_message" method="post">
            <input type="text" name="new_message" />
            <input type = "hidden" name="thread_id" value="{{thread.id}}" />
            <button>Submit!</button>
        </form>
        <hr />

        {% for message in messages %}
            <p>
                {{ message.username }} ({{ message.sent_at }}):
            </p>
            <p>
                {{ message.content }}
            </p>
            {% if message.username == session.username %}
                <a href="/edit_message/{{thread.id}}/{{message.id}}">Edit message</a>
                <a href="/delete_message/{{thread.id}}/{{message.id}}">Delete message</a>
            {% endif %}
        {% endfor %}
        <hr />
    {% else %}
        <p>You are not logged in! Please log in to see threads.</p>
        <input type="button" value="Log in" action="/">
    {% endif %}
</body>
</html>
