<!DOCTYPE html>
<html>

<head>
  <title>Brain dump app</title>
</head>

<body>
  <h1>This is the initial page</h1>
  <p>
    <b>Welcome</b> <i>to the brain dump app!<br>
        This is a simple application where you can dump your thoughts and feelings. You can also see the dumps of other users, but you cannot comment on them. <br>
        To use the app, please log in or sign up.<br>
    </i>
  </p>
</body>
    <form action="/sign_up_page" method="GET">
        <button name= "SIGN_UP">Sign up</button> <br>
    </form>
    <p>Already have an account?</p>
    <form action="/" method="GET">
        <button name= "LOG_IN">Log in</button> <br>
    </form>
</html>