<!DOCTYPE html>
<html>
<head>
  <title>Profile of {user.username}:</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    {% if session.username %}
        <div class = "top_bar">
            <a class = "top_bar_link" href="/">Home/Profile</a>
            <a class = "top_bar_link" href="/private_ideas">Private skills page</a>
            <a class = "top_bar_link" href="/threads">Threads</a>
        </div>
    {% endif %}
    <h1>Profile of {{user.username}}:</h1>
    {% if has_image %}
      <img src="/image/{{ user.user_id }}" />
    {% endif %}
    <h2> Last sent public ideas: </h2>
    {% for message in last_messages %}
        <p class = "accent_text"><i>{{message.sent_at}}</i></p>
        <p class = "message_island">{{message.content | show_lines}}</p>
    {% endfor %}
</body>

</html>